@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --font-family: "Poppins", sans-serif;
  --highlight: #cf2929;
  --dark: #22262a;
  --light: #fff;
  --footer-bg: #f2f8fc;
  --copyright-bg: #e7f5f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* ----------------------------- Main Container ----------------------------- */
.fashion__container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --------------------------- End Main Container --------------------------- */

/* --------------------------------- Header --------------------------------- */

.fashion__header {
  width: 100%;
  background: var(--light);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 5rem;
}

.fashion__header-logo {
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  color: var(--dark);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fashion__header-links {
  display: flex;
  margin-left: auto;
}

.fashion__header-links a,
.fashion__mobile-menu a {
  margin-right: 2rem;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
  color: var(--dark);
  text-transform: uppercase;
}

.fashion__header-links a:hover {
  color: var(--highlight);
}

.fashion__header-icons i {
  margin-right: 1rem;
  cursor: pointer;
}

.fashion__hamburger {
  display: none;
  position: relative;
  z-index: 1;
  user-select: none;
  outline: none;
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 2rem;
  text-align: center;
  padding: 1rem;
}

.fashion__hamburger span {
  display: block;
  height: 3px;
  width: 25px;
  position: relative;
  margin-bottom: 2px;
  background: var(--dark);
  transform-origin: 0 0;
  transition: 0.4s;
  border-radius: 6px;
  text-align: center;
}

.fashion__hamburger:hover span:nth-child(2) {
  transform: translateX(-8px);
  background-color: var(--highlight);
}

.fashion__hamburger.is-active span:nth-child(1) {
  transform: translate(-1px, -3px) rotate(45deg);
}

.fashion__hamburger.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}

.fashion__hamburger.is-active span:nth-child(3) {
  transform: translate(-4px, 5px) rotate(-45deg);
}
.fashion__hamburger.is-active:hover span {
  background-color: var(--highlight);
}

.fashion__mobile-menu {
  display: none;
  flex-direction: column;
  background: var(--dark);
  padding: 2rem 2rem;
  position: absolute;
  top: 4rem;
  left: 0.5rem;
  transform: translateX(-20rem);
  transition: 0.4s;
  z-index: 99;
}

.fashion__mobile-menu.is-active {
  transform: translateX(0rem);
}

.fashion__mobile-menu a {
  color: var(--light);
  margin-bottom: 1rem;
}

.fashion__mobile-menu a:hover {
  color: var(--highlight);
}

@media screen and (max-width: 1100px) {
  .fashion__header {
    padding: 1rem 5rem;
  }
}

@media screen and (max-width: 960px) {
  .fashion__header {
    padding: 1rem 3rem;
  }
}

@media screen and (max-width: 850px) {
  .fashion__mobile-menu {
    display: flex;
  }

  .fashion__header {
    padding: 1rem 2rem;
  }
  .fashion__hamburger {
    display: block;
  }

  .fashion__header-links {
    display: none;
  }

  .fashion__header-logo {
    margin-right: auto;
  }
}

@media screen and (max-width: 450px) {
  .fashion__header {
    padding: 1rem 1rem;
  }
  .fashion__hamburger {
    display: block;
  }

  .fashion__header-links {
    display: none;
  }

  .fashion__header-logo {
    margin-right: auto;
  }
}
/* ------------------------------- End Header ------------------------------- */

/* ------------------------------ Hero Section ------------------------------ */
.fashion__hero {
  width: 100%;
  height: 656px;
  background-image: url(./assets/images/hero.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 5rem;
}

.fashion__hero p {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  color: var(--dark);
  text-align: left;
}

.fashion__hero h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 120px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--dark);
  text-align: left;
}

.fashion__hero-content__buttons {
  margin-top: 2rem;
}

.fashion__hero-content__buttons button {
  outline: none;
  border: none;
  padding: 0.5rem 2rem;
  background: #22262a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
  color: var(--light);
  cursor: pointer;
}

.fashion__hero-content__buttons button:last-child {
  margin-left: 2rem;
}

@media screen and (max-width: 850px) {
  .fashion__hero {
    height: 500px;
    background-color: yellow;
    background-size: cover;
    background-position: 25%, 0%;
    align-items: flex-start;
    justify-content: center;
    padding: 0 2rem;
  }

  .fashion__hero p {
    font-size: 16px;
    line-height: 22px;
  }

  .fashion__hero h1 {
    font-size: 50px;
  }

  .fashion__hero-content__buttons {
    display: flex;
  }

  .fashion__hero-content__buttons button {
    font-size: 14px;
    padding: 0.7rem 1.5rem;
  }
}

/* ---------------------------- End Hero Section ---------------------------- */

/* ---------------------------- Fashion Category ---------------------------- */

.fashion__category {
  width: 100%;
  padding: 5rem 2rem;
  height: 579px;
  display: grid;
  grid-template-columns: 262.19px 262.19px 262.19px 262.19px;
  grid-template-rows: 286.84px 286.84px;
  justify-content: center;
  grid-gap: 1rem;
}

.fashion__category div {
  height: 100%;
  width: 100%;
  transition: 0.4s;
}

.fashion__category__top-left {
  grid-column: 1 / span 2;
  background-image: url(./assets/images/fashion\ cat-1.png);
  background-size: cover;
}

.fashion__category__right {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
  background-image: url(./assets/images/fashion\ cat-4.png);
  background-size: cover;
}

.fashion__category__bottom-left {
  order: 3;
  background-image: url(./assets/images/Fashion\ cat-2.png);
  background-size: cover;
}

.fashion__category__bottom-center {
  background-image: url(./assets/images/fashion\ cat-3.png);
  background-size: cover;
  order: 4;
}

.mask {
  color: #fff;
  display: none;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5rem;
  padding-bottom: 10rem;
  height: 100%;
  width: 100%;
}

.fashion__category-button {
  margin-top: auto;
  background: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  outline: none;
  border: none;
  padding: 0.4rem 1rem;
  /* position: relative;
  margin-right: auto; */
  cursor: pointer;
}
.fashion__category div:hover .mask {
  display: flex;
  background: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1100px) {
  .fashion__category {
    grid-template-columns: 262.19px 262.19px;
    grid-template-rows: repeat(4, 265px);
    margin-top: 2rem;
    height: unset;
    padding: 2rem 1rem;
  }

  .fashion__category__top-left {
    order: 1;
    grid-column: 1 / span 2;
  }

  .fashion__category__bottom-left {
    order: 2;
    grid-column: 1;
  }

  .fashion__category__bottom-center {
    order: 3;
  }

  .fashion__category__right {
    order: 4;
    grid-row: 3 / span 2;
    grid-column: 1 / span 2;
  }

  .mask {
    color: #fff;
    display: none;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
  }
}
/* -------------------------- End Fashion Category -------------------------- */

/* ----------------------------- GEnder section ----------------------------- */

.fashion__gender-section {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 7.7rem;
}

.fashion__gender-section__heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.fashion__gender-section__heading h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: var(--dark);
  margin-bottom: 0.8rem;
  text-transform: uppercase;
}

.fashion__gender-section__heading p {
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
}

.fashion__gender-section__products-container_women,
.fashion__gender-section__products-container_men {
  width: 100%;
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.fashion__gender-section__product {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.fashion__gender-section__product-image {
  height: 371px;
  width: 100%;
  background: cadetblue;
}

.fashion__gender-section__products-container_women
  .fashion__gender-section__product:first-child
  .fashion__gender-section__product-image {
  background-image: url(./assets/images/women_fashion_1.png);
  background-size: cover;
}
.fashion__gender-section__products-container_women
  .fashion__gender-section__product:nth-child(2)
  .fashion__gender-section__product-image {
  background-image: url(./assets/images/women_fashion_2.png);
  background-size: cover;
}
.fashion__gender-section__products-container_women
  .fashion__gender-section__product:nth-child(3)
  .fashion__gender-section__product-image {
  background-image: url(./assets/images/women_fashion_3.png);
  background-size: cover;
}
.fashion__gender-section__products-container_women
  .fashion__gender-section__product:nth-child(4)
  .fashion__gender-section__product-image {
  background-image: url(./assets/images/women_fashion_4.png);
  background-size: cover;
}

.fashion__gender-section__products-container_men
  .fashion__gender-section__product:first-child
  .fashion__gender-section__product-image {
  background-image: url(./assets/images/men_fashion_1.png);
  background-size: cover;
}
.fashion__gender-section__products-container_men
  .fashion__gender-section__product:nth-child(2)
  .fashion__gender-section__product-image {
  background-image: url(./assets/images/men_fashion_2.png);
  background-size: cover;
}
.fashion__gender-section__products-container_men
  .fashion__gender-section__product:nth-child(3)
  .fashion__gender-section__product-image {
  background-image: url(./assets/images/men_fashion_3.png);
  background-size: cover;
}
.fashion__gender-section__products-container_men
  .fashion__gender-section__product:nth-child(4)
  .fashion__gender-section__product-image {
  background-image: url(./assets/images/men_fashion_4.png);
  background-size: cover;
}

.fashion__gender-section__product-details {
  width: 100%;
  height: 113px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 0.7rem;
}
.fashion__gender-section__product-details__brand {
  font-size: 15px;
  font-weight: 300;
  line-height: 23px;
  color: var(--dark);
}

.fashion__gender-section__product-details__name {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  text-align: left;
  color: var(--dark);
}
.fashion__gender-section__product-details__prices {
  display: flex;
}

.fashion__gender-section__product-details__prices p:first-child {
  text-decoration: line-through;
  color: var(--dark);
  margin-right: 1rem;
}

.fashion__gender-section__product-details__prices p:last-child {
  color: var(--highlight);
}

@media screen and (max-width: 1200px) {
  .fashion__gender-section {
    padding: 0 3rem;
  }
}

@media screen and (max-width: 950px) {
  .fashion__gender-section__products-container_women,
  .fashion__gender-section__products-container_men {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1rem;
  }
}

@media screen and (max-width: 750px) {
  .fashion__gender-section {
    padding: 0 3rem;
  }
  .fashion__gender-section__products-container_women,
  .fashion__gender-section__products-container_men {
    grid-template-columns: 1fr;
    grid-row-gap: 3rem;
  }

  .fashion__gender-section__product {
    height: 495.2px;
  }
}
/* --------------------------- End Gender Section --------------------------- */

/* ------------------------------- Avone Style ------------------------------ */

.fashion__avone-style {
  width: 1133px;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.fashion__avone-style__heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.fashion__avone-style__heading h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.fashion__avone-style__heading p {
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
}

.fashion__avone-style__content {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.fashion__avone-style__content_A,
.fashion__avone-style__content_B {
  height: 694px;
  width: 100%;
}

.fashion__avone-style__content_A {
  padding-top: 5rem;
}

.fashion__avone-style__content_A img {
  height: 606.42px;
  cursor: pointer;
}

.fashion__avone-style__content_B {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  position: relative;
}
.fashion__avone-style__details {
  width: 100%;
  border-bottom: 1px solid var(--dark);
  text-transform: uppercase;
  width: 169px;
  margin-right: auto;
  padding: 0.4rem 0;
  margin-left: 10rem;
  cursor: pointer;
}

.fashion__avone-style__details:hover {
  color: var(--highlight);
  border-bottom: 1px solid var(--highlight);
}

.fashion__avone-style__details p {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
}

.fashion__avone-style__content_B img:nth-child(1) {
  height: 454.3121032714844px;
  width: 514px;
  cursor: pointer;
}

.fashion__avone-style__content__white_box {
  height: 283.06px;
  width: 227px;
  background: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem 0rem 0rem 1rem;
}

.fashion__avone-style__content__img {
  height: 100%;
  width: 100%;
  background-image: url(./assets/images/avone-right-bottom.png);
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .fashion__avone-style__content__white_box {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .fashion__avone-style__content {
    flex-direction: column;
  }
  .fashion__avone-style__content_A,
  .fashion__avone-style__content_B {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .fashion__avone-style__details {
    margin: unset;
    margin-top: 1rem;
  }
}
/* ----------------------------- End Avone Style ---------------------------- */

/* -------------------------------- Tachen19 -------------------------------- */
.fashion__tachen19 {
  width: 100%;
  height: 745px;
  background-image: url(./assets/images/tachen.png);
  background-size: cover;
  background-position: 55%, 0%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  padding: 10rem 10rem;
  justify-content: flex-end;
}

.fashion__tachen19 p {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

.fashion__tachen19 h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 120px;
  letter-spacing: 0em;
  text-align: left;
}
.fashion__tachen19 button {
  width: 214px;
  height: 40px;
  background: #22262a;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;

  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

@media screen and (max-width: 850px) {
  .fashion__tachen19 h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 750px) {
  .fashion__tachen19 h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 550px) {
  .fashion__tachen19 {
    padding: 5rem 3rem;
  }
  .fashion__tachen19 h1 {
    font-size: 30px;
    line-height: 42px;
  }
}
/* ------------------------------ End Tachen 19 ----------------------------- */

/* --------------------------------- Footer --------------------------------- */
.fashion__footer {
  width: 100%;
  background: var(--footer-bg);
  display: flex;
  flex-direction: row;
  padding: 10rem;
}

.fashion__footer-logo {
  width: 100%;
}

.fashion__footer-logo h5 {
  font-size: 25px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  margin-bottom: 1rem;
}

.fashion__footer-logo p:nth-child(2) {
  width: 406px;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 2rem;
}

.fashion__footer-logo__address {
  display: flex;
  flex-direction: row;
}

.fashion__footer-logo__address p {
  margin-left: 1rem;
}

.fashion__footer-logo__email {
  border-bottom: 1px solid var(--dark);
  width: 14.6rem;
}

.fashion__footer-logo__socials {
  margin-top: 1rem;
  width: 109px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--dark);
}

.fashion__footer-logo__socials i {
  cursor: pointer;
}
.fashion__footer-links {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fashion__footer-links h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.fashion__footer-links__email {
  background: #fff;
  width: 532px;
  height: 40px;
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 0 1.5rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
}

.fashion__footer-links__email input {
  border: none;
  outline: none;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
}

.fashion__footer-links__email button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  text-transform: uppercase;
}

.fashion__footer-links__links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4rem;
}

.fashion__footer-links__links-container h4 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
.fashion__footer-links__links-container p {
  margin-top: 1rem;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
}

@media screen and (max-width: 1300px) {
  .fashion__footer {
    padding: 5rem;
  }
}

@media screen and (max-width: 1100px) {
  .fashion__footer-logo p:nth-child(2) {
    width: 300px;
  }

  .fashion__footer-links__email {
    width: 400px;
  }
}

@media screen and (max-width: 950px) {
  .fashion__footer {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  .fashion__footer-links {
    margin-top: 2rem;
  }

  .fashion__footer-logo h5 {
    font-size: 18px;
  }

  .fashion__footer-links h3 {
    font-size: 18px;
  }
}

@media screen and (max-width: 650px) {
  .fashion__footer-links__email {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .fashion__footer-links__links-container {
    flex-direction: column;
  }

  .fashion__footer-links__links-container__links {
    margin-bottom: 2.5rem;
  }
}
/* ------------------------------- End Footer ------------------------------- */

/* -------------------------------- Copyright ------------------------------- */

.fashion__copyright {
  width: 100%;
  background: var(--copyright-bg);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fashion__copyright p {
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  color: var(--dark);
}

@media screen and (max-width: 750px) {
  .fashion__copyright p {
    font-size: 12px;
  }
}
/* ------------------------------ End Copyright ----------------------------- */
